---
layout: layout.njk
eleventyNavigation:
  key: Directions
  order: 3
---
<article>
  <h1>Directions</h1>
  <p>
    Take the M9 / N9 towards Waterford. At the first roundabout on approach to Waterford,
    take the first exit (signposted Waterford / Cork / Rosslare). At the next roundabout,
    take the third exit (signposted N25 / Cork / Waterford South). Proceed through the toll
    bridge (toll is €1.90 per car). Take the exit directly after the toll bridge (signposted
    Waterford South/R710). </p>
  <p>
    At the top of the off-ramp, go left at the small roundabout, then straight through two
    larger roundabouts (signposted R710/City Centre/Tramore). At the next roundabout (
    retail park on your left), take the first exit (signposted City Centre). Proceed down
    the Cork Road for approx 2km and the main entrance to WIT’s main campus is on the left.
    The College Street Campus is a further 2km towards the city centre on the left. </p>
  <hr>
</article>
