body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: small;
  line-height: 1.6em;
}

h1, h2 {
  color: #007e7e;
  border-bottom: 1px solid black;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 130%;
}

p {
  color: maroon;
}
