<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bundle APP Store</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js"></script>
  </head>
  <body class="ui container">
    <img src="/images/banner.png" class="large-centre-img">
    <main>
      {% include "header.njk" %}
      <section class="ui grid">
        <section class="ui twelve wide column">
          {% include "nav.njk" %}      
          {{ content | safe }}
        </section>
        <aside class="ui four wide column">
          {% include "sidebar.njk" %}
        </aside>
      </section>
      {% include "footer.njk" %}
    </main>
  </body>
</html>