<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bundle APP Store</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <img src="/images/banner.png" class="large-centre-img">
    <main class="container">
      {% include "header.njk" %}
      <section id="maincontent">
        <section id="primary">
          {% include "nav.njk" %}      
          {{ content | safe }}
        </section>
        <aside id="secondary">
          {% include "sidebar.njk" %}
        </aside>
      </section>
      {% include "footer.njk" %}
    </main>
  </body>
</html>