<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bundle APP Store</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>
    <img src="/images/banner.png" class="large-centre-img">
    <div class="container">
      {% include "header.njk" %}
      <div id="maincontent">
        <div id="primary">
          {{ content | safe }}
        </div>
        <div id="secondary">
          {% include "sidebar.njk" %}
        </div>
      </div>
      {% include "footer.njk" %}
    </div>
  </body>
</html>